<!-- 消息框 start -->
<div id="widget_ajax" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-header">
		<h3 id="widget_ajax_header"><!-- 头部 --></h3>
	</div>
	<div class="modal-body">
		<p id="widget_ajax_message"><!-- 内容 --></p>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn green" id="widget_ajax_btn_submit"><!-- 提交按钮 --></button>
		<button type="button" data-dismiss="modal" class="btn" id="widget_ajax_btn_cancel"><!-- 取消按钮 --></button>
	</div>
</div>
<!-- 消息框 end -->